@charset "UTF-8";

/*---------------DEFAULT (DESKTOP)---------------*/
#deviceTest {
	position: relative; /* In order for this to work with webkit */
	display: none;
	z-index: 1; /* 1 means that the device is of desktop size */
}

/*---------------SMALL DESKTOP---------------*/
@media only screen and (max-width: 1200px) {
	#deviceTest {
		display: none;
		z-index: 2; /* 2 means that the device is of small desktop size */
	}
}

/*---------------TABLET---------------*/
@media only screen and (max-width: 1024px) {
	#deviceTest {
		display: none;
		z-index: 3; /* 3 means that the device is of tablet size */
	}
}

/*---------------MOBILE---------------*/
@media only screen and (max-width: 768px) {
	#deviceTest {
		display: none;
		z-index: 4; /* 4 means that the device is of mobile size */
	}
}
