@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100);

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family: 'Roboto', sans-serif;
	background:#888888;
	overflow: hidden;
	text-align: justify;
}

a {
  text-decoration: none;
}

#main {
  width:100%;
  height: 100%;
}
