@charset "UTF-8";


#mobilemenuwrapper {
  position:fixed;
  display:none;
  top:0;
  left:0;
  padding:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.7);
  z-index: 100;
}

#mobilemenuwrapper #menuclose {
  float:right;
  padding-top:5px;
  top:0;
  width:80px;
  height:100px;
  text-align:center;
  display:table;
}

#mobilemenuwrapper #menuclose span {
  color:#FF463D;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-size:4em;
  display:table-cell;
  vertical-align:center;
}

#mobilemenuwrapper #menuclose span:hover {
  cursor:pointer;
  color:rgba(255, 70, 61, 0.7);
}

#mobilemenuwrapper #menubox {
  margin-right:auto;
  margin-left:auto;
  margin-top:110px;
  padding:0;
  background:#FFFFFF;
  width:80%;
  height:60%;
  border-radius:15px;
}

#mobilemenuwrapper #menubox ul {
  padding:0;
  width:100%;
  height:100%;
  list-style:none;
}

#mobilemenuwrapper #menubox ul li {
  width:100%;
  height:34%;;
  text-align:center;
  display:table;
  border-bottom:1px solid #888888;
  color:#00E89D;
}

#mobilemenuwrapper #menubox ul .radiustop {
  border-radius:15px 15px 0 0;
  padding-top:1px;
}

#mobilemenuwrapper #menubox ul .radiusbottom {
  border-radius:0 0 15px 15px;
  height:33.333%;
}

#mobilemenuwrapper #menubox ul li:hover {
  cursor:pointer;
  background:#00E89D;
  color:#FFFFFF;
}

#mobilemenuwrapper #menubox ul .noborder {
  border:none;
}

#mobilemenuwrapper #menubox ul li span {
  font-family:'Roboto', sans-serif;
  display:table-cell;
  vertical-align:middle;
  font-size:2em;
  font-weight:100;
}

/* Add the class currentmobile to the menu item that reflects the current page. */
.currentMobile li {
  background:#00E89D;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.currentMobile li span {
  color:#FFFFFF;
}

.currentMobile li span:hover {
  cursor:default;
}
