@charset "utf-8";

#content {
	width:100%;
	height:calc(100% - 100px);
	position:absolute;
	bottom:0;
	overflow-y: auto;
}

#infobox {
	height:auto;
	background-color:white;
	margin:auto;
	margin-top:15px;
	margin-bottom:15px;
	border-radius:10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#title {
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	color:#666666;
	font-size:2em;
}

#title span {
	border-bottom:1px solid #00E89D;
}

#text {
	padding:10px;
	font-family: helvetica, sans-serif;
	font-size:16px;
	color: #555555;
}

/*---------------DESKTOP---------------*/
@media only screen and (min-width:1080px) {
	#infobox {
		width: 800px;
	}
}

/*---------------MOBILE---------------*/
@media only screen and (max-width:1080px) {
	#infobox {
		width: 80%;
	}
}
