@charset "utf-8";

#content {
	width:100%;
	height:calc(100% - 100px);
	position:absolute;
	bottom:0;
	overflow-y: auto;
}

#container {
  padding:0;
  margin:0;

  /* Make the elements within #container adjust to a grid. */
  display:-webkit-box; /* For safari */
  display:flex;

  -webkit-flex-flow:wrap; /* Safari and Chrome */
  flex-flow:wrap; /* Firefox */
  justify-content:space-around;
}

#container div {
	background-color:white;
	margin:10px;
	float:left;
	display: block;
	color: #555555;
	font-size:2em;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
	display:table;
}

#container div span {
	display:table-cell;
	text-align: center;
	vertical-align:middle;
}

#container div:hover {
	background:rgba(0,0,0,0.4);
}

#hash {
	background: no-repeat center center;
}

/*---------------DESKTOP---------------*/
@media only screen and (min-width:1080px) {
	#container div {
		/* Fixed size for desktop. */
		width:400px;
		height:400px;
	}
}

/*---------------MOBILE---------------*/
@media only screen and (max-width:1080px) {
	#container div {
		/* Flexible size for mobile */
		width:40%;
		padding:20%;
	}
}
