@charset "UTF-8";

.visible {
  /*visibility: visible;*/
  opacity: 1;
}

.hidden {
  /*visibility: hidden;*/
  opacity: 0;
}

#showcase div {
  -webkit-transform: translateZ();
  transition: opacity 4s ease-in-out;
  background: no-repeat center center;

  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;

  display:table;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color:white;
  font-size:10em;
  font-family:sans-serif;
  text-align:center;
  text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);

  box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.5);
}
