@charset "utf-8";

#content {
	width:100%;
	height:calc(100% - 100px);
	position:absolute;
	bottom:0;
	overflow-y: auto;
}

#infobox {
	height:auto;
	background-color:white;
	margin:auto;
	margin-top:15px;
	margin-bottom:15px;
	border-radius:10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#title {
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	color:#666666;
	font-size:2em;
}

#title span {
	border-bottom:1px solid #00E89D;
}

#contact-form {
	width:50%;
	margin: 15px auto;
}

input[type=text], input[type=email] {
	width:calc(100% - 20px - 2px);
	padding:10px;
	font-family: helvetica, sans-serif;
	font-size:16px;
	color:#555555;
	margin:1px;
}

input[type=text]:focus, input[type=email]:focus {
	border:2px solid rgba(0,0,0,0);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

textarea {
	resize:none;
	width:calc(100% - 20px);
	height:200px;
	padding:10px;
	font-size:16px;
	color:#555555;
}

textarea:focus {
	border:1px solid rgba(0,0,0,0);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.message {
  position: fixed;
  z-index: 99;
  top: 5px;
  left: 0;
  right: 0;
	margin-left: auto;
	margin-right: auto;
  padding: 10px 5px 5px 5px;
  width: 20%;
  min-width: 200px;
  min-height: 3rem;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  text-align: center;
}

.message.positive {
  background-color: #e5fdf5;
  color: #72ccaf;
  border: 1px solid #72ccaf;
}

.message.negative {
  background-color: #ffeceb;
  color: #d28c89;
  border: 1px solid #d28c89;
}

/* Firefox works with 2px border. Chrome works with 1px border. */
@-moz-document url-prefix() {
	textarea:focus {
		border:2px solid rgba(0,0,0,0);
	}
}

input[type=submit] {
	width:100%;
	padding:10px;
	margin-top:15px;
	margin-bottom:15px;
	font-size:20px;
	color:#FFF;
	background-color:#00E89D;
	text-decoration:none;
	border:none;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

input[type=submit]:hover {
	cursor:pointer;
	background-color:#73E8B8;
}

input[type=submit]:active {
	cursor:pointer;
	background-color:#73E8B8;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

/*---------------DESKTOP---------------*/
@media only screen and (min-width:1080px) {
	#infobox {
		width: 800px;
	}
}

/*---------------MOBILE---------------*/
@media only screen and (max-width:1080px) {
	#infobox {
		width: 80%;
	}
}
