@charset "UTF-8";

/* Add the class currentlink to the link that reflects the current page. */
.currentLink span:hover {
  cursor: default;
}

.currentLink span {
  padding:5px;
  width:auto;
  color:#888888;
  font-size:25px;
  font-weight:100;
  border-bottom: 1px solid #00E89D;
}

.headerLink:not(.currentLink) span:hover {
  color:#00E89D;
}

.headerLink span {
  cursor: pointer;
  padding:5px;
  width:auto;
  color:#888888;
  font-size:25px;
  font-weight:100;
  text-decoration:none;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}
