@charset "UTF-8";

header {
	float:left;
	margin:0;
	padding:0;
	width:100%;
	height:100px;
	position:fixed;
	border-bottom: 1px solid #888888;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
	background: #FFFFFF;
	z-index: 99; /*Guarantee it is on top*/
}

header #headerlogo {
	float:left;
	width:200px;
	height:100px;
	text-align:center;
	color:#888888;
	border-right:1px solid #888888;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

header #headerlogo:hover {
	color:#FFFFFF;
	cursor:pointer;
	background:rgba(0,0,0,0.4);
}

header #headerlogo:hover #logotextwebsite {
	color:#FFFFFF;
}

header #headerlogo div #logotextwebsite {
	color:#00E89D;
	font-weight:100;
}

header #headerlogo div span {
	font-size:35px;
	font-weight:100;
}

header #headermenu {
	float:right;
	width:500px;
	height:100px;
}

header #headermenu ul {
	float:right;
	width:500px;
	height:100px;
	text-align:center;
	list-style:none;
}

header #headermenu ul li {
	float:left;
	margin-top:35px;
	width:33%;
	height:30px;
	border-left:1px solid #00E89D;
}

header #headermenu ul .noborder {
	border:none;
}

header #headermenu ul li {
	text-decoration:none;
}

header #mobilemenuicon {
	float:right;
	width:60px;
	height:67px;
	padding-top:33px;
}

header #mobilemenuicon:hover #mobilemenutext {
	visibility:visible;
	opacity:1;
	transition-delay:0s;
	cursor:pointer;
}

header .mobilemenuline {
	float:right;
	margin:3px 15px 3px 15px;
	width:30px;
	height:5px;
	background:#888888;
	border-radius:10px;
}

header #mobilemenutext {
	float:right;
	position:absolute;
	width:60px;
	height:67px;
	background:#FFFFFF;
	text-align:center;
	visibility:hidden;
	opacity:0;
	-webkit-transition:all 0s linear 0.5s,opacity 0.5s linear;
	-moz-transition:all 0s linear 0.5s,opacity 0.5s linear;
	-o-transition:all 0s linear 0.5s,opacity 0.5s linear;
	transition:all 0s linear 0.5s,opacity 0.5s linear;
}

header #mobilemenutext span {
	color:#888888;
	font-size:18px;
	font-weight:100;
	border-bottom:2px solid #00E89D;
}
